
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Category</title>

</head>

<body>





<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Add New Category</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Please enter category info below</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">


                                    <form autocomplete="off" action="#" th:action="@{/admin/add-category}"
                                          th:object="${category}" method="post" class="form-horizontal"
                                          role="form">
                                        <div class="form-group">
                                            <div class="col-sm-9">
                                                <label th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"
                                                       class="validation-message"></label>
                                                <input type="text" th:field="*{categoryName}" placeholder="Name"
                                                       class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-9">
                                                <button type="submit" class="btn btn-primary btn-block">Add</button>
                                            </div>
                                        </div>

                                        <div style="color:red" th:utext="${successMessage}">KIEU</div>

                                    </form>




<table style="width:70%; margin-left:9px" class="table-bordered">
    <tr>
        <th style="width:82%">Category Name</th>
        <th style="width:18%">Action</th>
    </tr>

    <tr th:each="category: ${categoryList}">
        <td th:text="${category.categoryName}"></td>
        <form th:action="@{'/admin/disable-category/'+${category.categoryId}}" th:object="${category}" th:method="PUT" enctype="multipart/form-data">
            <td><button type="submit" class="btn btn-info">Disable</button></td>
        </form>
    </tr>

</table>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>

