<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assign New Test</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Assign New Exam</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Once created, a test key will be send to student automatically</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <form autocomplete="off" action="#" th:action="@{/admin/assigntest}"
                                          th:object="${testkey}" method="post" class="form-horizontal"
                                          role="form">
                                        <div class="form-group">
                                            <div class="col-sm-9">
                                                <input type="text" th:field="*{studentid}" placeholder="StudentId"
                                                       class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-9">
                                                <input type="text" th:field="*{categoryName}"
                                                       placeholder="CategoryName" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        <div class="col-sm-9">
                                            <button type="submit" class="btn btn-primary btn-block">Generate Test Key</button>
                                        </div>
                                    </div>

                                        <span th:utext="${successMessage}"></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
