<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns="http://www.w3.org/1999/xhtml"
>

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<head>

    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">

        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme2",//theme1
                title:{
                    text: "Basic Column Chart - "
                },
                animationEnabled: true,   // change to true
                data: [
                    {
                        // Change type to "bar", "area", "spline", "pie",etc.
                        type: "column",
                        dataPoints: [
                            { label: "Spring",  y: 70  },
                            { label: "Hibernate", y: 95  },
                            { label: "JSP", y: 90  },
                            { label: "Struts",  y: 87  },
                            { label: "grape",  y: 78  }
                        ]
                    }
                ]
            });
            chart.render();
        }
    </script>

    <title>Grade examReport</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">


    <a href="/download/pdf/1" download="QuestionList.pdf">Download Your Report</a>

    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

</div>
</body>
</html>
