<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<head>
    <title>Grade examReport</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">


<a href="/download/pdf/1" download="QuestionList.pdf">Download Your Report</a>

</div>
</body>
</html>
