<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css">


<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>

<script>

    $(document).ready(function() {
        $('#example').DataTable();
    } );

</script>

<head>
    <title>Grade examReport</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>User List </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>User List PDF File</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="container">

                            <form autocomplete="off" action="#" th:action="@{/question-examReport}"
                                  th:object="${question}" method="post">
                            <div id="zS2Qg" class="z-div"><span id="zS2Qh" class="z-label">
	Choose a File Type : </span>
                                <select id="zS2Qi" class="z-select" name="filetype" >
                                    <option id="zS2Q20" class="option">PDF</option>
                                    <option id="zS2Q30" class="option">HTML</option>
                                    <option id="zS2Q40" class="option">Word (RTF)</option>
                                    <option id="zS2Q50" class="option">Excel</option>
                                    <option id="zS2Q60" class="option">Excel (JXL)</option>
                                    <option id="zS2Q70" class="option">CSV</option>
                                    <option id="zS2Q80" class="option">OpenOffice (ODT)</option>
                                </select>

                                <button type="submit" id="zS2Qj" class="z-button">Get Report</button>





                            </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
